{% extends "base.html"%}
{% block start %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="center">List Of Flights</h2>
    {% if user.is_authenticated %} 
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p> Check your Booked Flight - :<a href="/my_bookings/"> Booked Flight </a></p>
            <p> Click to Search Flight<a href="/search_flights/"> Search Flight </a></p>
        </form>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th>Flight Number</th>
                    <th>Departure City</th>
                    <th>Arrival City</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Airline</th>
                    <th>Price</th>
                    <th>Seats Available</th>
                    <!-- <th>Book flight</th> -->
                </tr>
            </thead>
            <tbody >
                {% for flight in flights %}
                <tr>
                    <th scope="row">{{ forloop.counter}}</th>
                    <td>{{ flight.flight_number }}</td>
                    <td>{{ flight.departure_city }}</td>
                    <td>{{ flight.arrival_city }}</td>
                    <td>{{ flight.departure_time }}</td>
                    <td>{{ flight.arrival_time }}</td> 
                    <td>{{ flight.airline }}</td> 
                    <td>{{ flight.price }}</td> 
                    <td>{{ flight.seats_available }}</td>
 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">You need to be logged in to view flights. <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a></p>
    {% endif %}
    
</body>
</html>



{% endblock  %}